.boa {
  background-color: #28a745;  
  color: white;
}

.moderada {
  background-color: #ffc107;  
  color: black;
}

.ruim {
  background-color: #fd7e14; 
  color: white;
}

.perigosa {
  background-color: #6f42c1; 
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #deebde;
  color: #333;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  color: #4CAF50;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
  font-size: 18px;
  font-weight: bold;
  background-color: #4CAF50;;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-info {
  border-radius: 8px;
  padding: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .card {
    padding: 15px;
  }

  .result {
    font-size: 16px;
  }
}
